.react-calendar {
  width: 100%;
  height: max-content;
  background: white;
  line-height: 1.125em;
  border-radius: 5px;
  padding: 25px 15px 25px 15px;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #f04040;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation__label {
  color: #f30707;
}
.react-calendar__navigation__arrow {
  font-size: large;
  color: #a8a8a8;
}
.react-calendar__navigation .react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  display: none !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #cfcfcf;
}
.react-calendar__tile {
  justify-self: center;
  border-radius: 100%;
  text-align: center;
  padding: 20px 10px;
  background: none;
  margin: 10px;
}
.react-calendar__tile:disabled {
  background-color: #dfdfdf;
}
.react-calendar__tile:enabled:hover {
  background: #f30707;
  color: white;
}

.react-calendar__tile--now {
  background: #56ff07;
  color: #e6e6e6;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
